<div class="container">
  <h2>Añadir reporte</h2>
  <form>
    <label for="nombre">
      <div>Nombre del lugar</div>
      {{input type="text" name="name" id="nombre"}}
    </label>
    <label for="need">
      <div>Necesidad</div>
      {{input type="text" name="name" id="nombre"}}
    </label>
  </form>
</div>
