@import url("normalize.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 18px;
}

.container {
  margin: 20px;
}

.report {
  margin-bottom: 20px;
}

.need {
  font-size: 12px;
  text-transform: uppercase;
  background-color: gray;
  color: white;
  display: inline-block;
  padding: 2px 5px 0;
  margin-bottom: 3px;
  border-radius: 3px;
}

.need-servicios-de-salud {
  background-color: #48bb78;
}

.need-alimento-y-o-suministros {
  background-color: #4299e1;
}

.need-centro-de-acopio {
  background-color: #ed64a6;
}

.need-refugio---campamento {
  background-color: #ed8936;
}

button {
  padding: 5px;
}

input,
textarea {
  width: 100%;
  padding: 5px;
}

label {
  font-weight: bold;
  margin-bottom: 25px;
  display: block;
}

.cancel {
  color: red;
}

.form-wrapper {
  background-color: lightyellow;
  border: 1px solid rgb(228, 186, 1);
  padding: 5px 20px;
  margin-bottom: 20px;
}
